

#btnLogin {
    width: 100%;
    font-size: 1rem;
  }
   
  .panel-primary {
    /* background: rgb(176, 185, 185); */
    /* border-color: #811222; */
    /* border: 2px solid #811222; */
    /* padding-right: 10px; */
    color: #ffffff;
  }
 
  .panel-primary>.panel-heading {
    /*background: rgba(100,100,900,.75);;*/
    /* fallback for old browsers */
    background: #811222;
    font-family: lucida sans;
    font-size: 17px;
    color: #ffffff;
    border-color: #811222;
    border: 4px solid #811222;
    text-align: center;
  }
 
  .panel-heading {
    padding: 2px 2px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
 
  .panel-heading1 {
    border-color: #811222;
    background: #811222;
    border-color: #811222;
  }
 
  .btn-primary,
  .btn-primary:focus,
  .btn-primary:active,
  .btnSignUp {
    /*background: rgba(100,100,900,.75);*/
    font-size: 12pt;
    font-family: lucida sans;
    background: #811222;
    border-color: #811222;
    color: #ffffff;
  }
 
  .btn.btn-primary:hover {
    background-color: #800000;
    color: white;
    border-color: #800000;
  }
 
  .btn.btnSignUp:hover {
    background-color: #800000;
    color: white;
    border-color: #800000;
  }
 
  .btn.btn-primary1 {
    font-size: 10.5pt;
    color: #ffffff;
    background-color: #811222;
    font-family: lucida sans;
    border-color: #811222;
  }
 
  .btn.btn-default1 {
    font-size: 10.5pt;
    color: #ffffff;
    background-color: #811222;
    font-family: lucida sans;
    border-color: #811222;
  }
 
  .btn.btn-primary1:hover {
    font-size: 10pt;
    color: #811222;
    background-color: #ffffff;
    font-family: lucida sans;
    border-color: #811222;
    font-weight: bold;
  }
 
  .btn.btn-default1:hover {
    font-size: 10pt;
    color: #811222;
    background-color: #ffffff;
    font-family: lucida sans;
    border-color: #811222;
    font-weight: bold;
  }
 
  body {
    background-color: white;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
 
  a {
    font-family: lucida sans;
    font-style: normal;
    font-size: 0.95rem;
  }
 
  /* a:hover {
    font-family: lucida sans;
    font-style: normal;
    font-size: 10.5pt;
    color: #811222;
  } */
 
  .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    /* Binago ko bg sir */
    background-color: #553626;
    /* Binago ko border sir */
    border: 1px solid #553626;
    
    border-radius: 4px;
  }
 
  .input-group {
    padding: 5px;
    font-size: 0.9em;
    border-radius: 5px;
  }
 
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #23211F;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
 

  /* Extra small devices (phones, 600px and down) */
 
  @media only screen and (max-width: 600px) {
    .btn.btn-primary1,
    .btn.btn-default1 {
      background-color: transparent;
      border-color: transparent;
      color: #670000;
      font-weight: bold;
    }
  }
 
  @media only screen and (max-width: 900px) {
    .btn.btn-primary1,
    .btn.btn-default1 {
      background-color: transparent;
      border-color: transparent;
      color: #670000;
      font-weight: bold;
    }
  }
 
  .askadmin {
    color: black;
  }


  /* 
  Ito yung mga dinagdag ko sir 
  */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: rgb(19, 14, 13);
    font-weight: 400;
}

.loginBg{
    background: rgb(41,19,9);
    background: linear-gradient(180deg, #291309 0%, #3c2116 46%, #553626 100%);
    height: auto;
    min-height: 100svh;
}
   
    .loginBox{
    width: 100%;
}
.loginForms{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 16px 4px rgba(0,0,0,0.53);
    overflow: hidden;
}
@media (max-width: 900px) {
  .loginBox{
    margin: 0;
    padding: 0;
    --bs-gutter-x: 0;
  }
    .vector{
        display: none;
    }
    
  }
  @media (max-width: 991px){
    .loginForms{
      flex-direction: column-reverse;
    }
  }
@media (max-width: 480px) {
  .loginBg{
    margin: 0;
    padding: 0;
    background: white;
  }
  .loginForms{
    border-radius: 0px;
    box-shadow: none;
    height: auto;
    min-height: 100svh;
}
}
@media (max-width: 319px) {
    .hoverBtn{
      margin-top: 25px;
    }
}
@media (max-width: 199px) {
  .hoverBtn{
    margin-top: 65px;
  }
}
.vector{
    width: 85%;
}
.hoverBtn {
    padding: 9px 24px;
    margin-bottom: 20px;
    min-width: 120px;
    max-width: 120px;
    background-color: #f8d085;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
    color: inherit;
    text-align: center;
}
.hoverBtn:hover{
    background-color: #f8d085;
    box-shadow: 0px 20px 10px -6px rgba(197, 166, 110, 0.75);
    transform: translateY(-8px);
    scale: 1.03;
}
.input-group{
  height: 50px;
}
.input-group-addon i{
  color: white;
  transform: translateY(5px);
 }
 .input-group input{
  height: 100%;
  border: 2px solid rgb(99, 78, 40);
  font-size: 1.1rem;
}
.input-group input:focus,
.input-group input:valid{
  border-color: #f8d085;
    /* z-index: 1; */
}
.showNforgotPass{
  height: 30px;
  padding-top: 10px;
  transform: translateY(-10px);
}
.showNforgotPass input{
  transform: translateY(1px);
}
.showNforgotPass label{
  font-size: 0.95rem;
}
.leftLogin{
  background-color: #461e0a;
}
.leftLogin p{
  color: white;
}
